<div id="<%= dom_id table_dog %>">
  <p>
    <strong>Id dog:</strong>
    <%= table_dog.id_dog %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= table_dog.nombre %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= table_dog.raza %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= table_dog.peso %>
  </p>

  <p>
    <strong>Fecha nac:</strong>
    <%= table_dog.fecha_nac %>
  </p>

  <p>
    <strong>Vacunas:</strong>
    <%= table_dog.vacunas %>
  </p>

</div>
